.selector {
  margin-right: 1%;
  grid-column: 3/4;
  width: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 50% 50%;
  height: 40px;
  min-width: 45px;

  #tselectorId {
    width: 100%;
    height: 100%;
    margin: 0px;
    align-self: center;
    justify-self: center;
    border: transparent;
    grid-column: 1 / 4;
    grid-row: 2/ 3;
    width: 100%;
    height: 100%;
    background-color: var(--keypad-background);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
  }

  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    //animate: 0.2s;
    background: var(--keypad-background);
    border-radius: 50px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: var(--equal-background);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 2.5px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--keypad-background);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    //animate: 0.2s;
    background: var(--keypad-background);
    border-radius: 50px;
  }

  input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: var(--equal-background);
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    //animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: var(--keypad-background);
    border: 0px solid #000000;
    border-radius: 100px;
  }

  input[type=range]::-ms-fill-upper {
    background: var(--keypad-background);
    border: 0px solid #000000;
    border-radius: 100px;
  }

  input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: var(--equal-background);
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: var(--keypad-background);
  }

  input[type=range]:focus::-ms-fill-upper {
    background: var(--keypad-background);
  }

  label {
    text-align: center;
    margin: 0px;
  }
}